<!--client-->
<section class="client">
    <div class="container">
        <div class="row">
            <div class="owl-carousel owl-theme">
                <div><img src="{{ asset('build/images/client-1.png') }}" alt="client" /></div>
                <div><img src="{{ asset('build/images/client-2.png') }}" alt="client" /></div>
                <div><img src="{{ asset('build/images/client-3.png') }}" alt="client" /></div>
                <div><img src="{{ asset('build/images/client-4.png') }}" alt="client" /></div>
                <div><img src="{{ asset('build/images/client-5.png') }}" alt="client" /></div>
            </div>
        </div>
    </div>
</section>
