<!--our projects-->

<section id="project" class="portfolioSix dart-pb-0">
    <div class="container">
        <div class="row">
            <div class="heading text-center">
                <h1>Nos Projets</h1>
                <hr>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna.</p>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                <div class="button-group filters-button-group clearfix">
                    <button class="button active filter-button" data-filter="all">Voir tout</button>
                    <button class="button filter-button" data-filter="creative">Architectures</button>
                    <button class="button filter-button" data-filter="building">Constructions</button>
                    <button class="button filter-button" data-filter="painting">Décoration</button>
                </div>
            </div>
        </div>
        <div class="row no-gutter">
            <div class="col-lg-2 col-col-md-3 col-sm-3 col-xs-12 filter creative">
                <div class="portfolio_6">
                    <a href="{{ asset('build/images/gallery-thumb/arch1.jpeg') }}g" class="item-box" rel="prettyPhoto[gallery1]"><!-- full image -->
                        <img src="{{ asset('build/images/gallery-thumb/arch1.jpeg') }}" class="img-responsive" alt=""><!-- thumb image -->

                        <div class="portfolio-bg"><!-- caption here -->
                            <div class="portfolio-item">
                                <div class="item-info">
                                    <span class="plus">+</span>
                                </div>
                            </div>
                            <div class="portfolio-item-bg-black">
                                <div class="item-info">
                                    <div class="headline">
                                        <h4>MAXART DESIGN</h4>
                                        <hr>
                                    </div>
                                    <p>Amazing Design by Multipurpose</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-col-md-3 col-sm-3 col-xs-12 filter creative">
                <div class="portfolio_6">
                    <a href="{{ asset('build/images/gallery-thumb/archi2.jpeg') }}" class="item-box" rel="prettyPhoto[gallery1]"><!-- full image -->
                        <img src="{{ asset('build/images/gallery-thumb/archi2.jpeg') }}" class="img-responsive" alt=""><!-- thumb image -->

                        <div class="portfolio-bg"><!-- caption here -->
                            <div class="portfolio-item">
                                <div class="item-info">
                                    <span class="plus">+</span>
                                </div>
                            </div>
                            <div class="portfolio-item-bg-black">
                                <div class="item-info">
                                    <div class="headline">
                                        <h4>MAXART DESIGN</h4>
                                        <hr>
                                    </div>
                                    <p>Amazing Design by Multipurpose</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-col-md-3 col-sm-3 col-xs-12 filter creative">
                <div class="portfolio_6">
                    <a href="{{ asset('build/images/gallery-thumb/archi3.jpeg') }}" class="item-box" rel="prettyPhoto[gallery1]"><!-- full image -->
                        <img src="{{ asset('build/images/gallery-thumb/archi3.jpeg') }}" class="img-responsive" alt=""><!-- thumb image -->

                        <div class="portfolio-bg"><!-- caption here -->
                            <div class="portfolio-item">
                                <div class="item-info">
                                    <span class="plus">+</span>
                                </div>
                            </div>
                            <div class="portfolio-item-bg-black">
                                <div class="item-info">
                                    <div class="headline">
                                        <h4>MAXART DESIGN</h4>
                                        <hr>
                                    </div>
                                    <p>Amazing Design by Multipurpose</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-col-md-3 col-sm-3 col-xs-12 filter creative">
                <div class="portfolio_6">
                    <a href="{{ asset('build/images/gallery-thumb/archi5.jpeg') }}" class="item-box" rel="prettyPhoto[gallery1]"><!-- full image -->
                        <img src="{{ asset('build/images/gallery-thumb/archi5.jpeg') }}" class="img-responsive" alt=""><!-- thumb image -->

                        <div class="portfolio-bg"><!-- caption here -->
                            <div class="portfolio-item">
                                <div class="item-info">
                                    <span class="plus">+</span>
                                </div>
                            </div>
                            <div class="portfolio-item-bg-black">
                                <div class="item-info">
                                    <div class="headline">
                                        <h4>MAXART DESIGN</h4>
                                        <hr>
                                    </div>
                                    <p>Amazing Design by Multipurpose</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-col-md-3 col-sm-3 col-xs-12 filter creative">
                <div class="portfolio_6">
                    <a href="{{ asset('build/images/gallery-thumb/archi4.jpeg') }}" class="item-box" rel="prettyPhoto[gallery1]"><!-- full image -->
                        <img src="{{ asset('build/images/gallery-thumb/archi4.jpeg') }}" class="img-responsive" alt=""><!-- thumb image -->

                        <div class="portfolio-bg"><!-- caption here -->
                            <div class="portfolio-item">
                                <div class="item-info">
                                    <span class="plus">+</span>
                                </div>
                            </div>
                            <div class="portfolio-item-bg-black">
                                <div class="item-info">
                                    <div class="headline">
                                        <h4>MAXART DESIGN</h4>
                                        <hr>
                                    </div>
                                    <p>Amazing Design by Multipurpose</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-col-md-3 col-sm-3 col-xs-12 filter creative">
                <div class="portfolio_6">
                    <a href="{{ asset('build/images/gallery-thumb/archi6.jpeg') }}" class="item-box" rel="prettyPhoto[gallery1]"><!-- full image -->
                        <img src="{{ asset('build/images/gallery-thumb/archi6.jpeg') }}" class="img-responsive" alt=""><!-- thumb image -->

                        <div class="portfolio-bg"><!-- caption here -->
                            <div class="portfolio-item">
                                <div class="item-info">
                                    <span class="plus">+</span>
                                </div>
                            </div>
                            <div class="portfolio-item-bg-black">
                                <div class="item-info">
                                    <div class="headline">
                                        <h4>MAXART DESIGN</h4>
                                        <hr>
                                    </div>
                                    <p>Amazing Design by Multipurpose</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-col-md-3 col-sm-3 col-xs-12 filter building">
                <div class="portfolio_6">
                    <a href="{{ asset('build/images/gallery-thumb/cons1.jpeg') }}" class="item-box" rel="prettyPhoto[gallery1]"><!-- full image -->
                        <img src="{{ asset('build/images/gallery-thumb/cons1.jpeg') }}" class="img-responsive" alt=""><!-- thumb image -->

                        <div class="portfolio-bg"><!-- caption here -->
                            <div class="portfolio-item">
                                <div class="item-info">
                                    <span class="plus">+</span>
                                </div>
                            </div>
                            <div class="portfolio-item-bg-black">
                                <div class="item-info">
                                    <div class="headline">
                                        <h4>MAXART DESIGN</h4>
                                        <hr>
                                    </div>
                                    <p>Amazing Design by Multipurpose</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-col-md-3 col-sm-3 col-xs-12 filter building">
                <div class="portfolio_6">
                    <a href="{{ asset('build/images/gallery-thumb/cons2.jpeg') }}" class="item-box" rel="prettyPhoto[gallery1]"><!-- full image -->
                        <img src="{{ asset('build/images/gallery-thumb/cons2.jpeg') }}" class="img-responsive" alt=""><!-- thumb image -->

                        <div class="portfolio-bg"><!-- caption here -->
                            <div class="portfolio-item">
                                <div class="item-info">
                                    <span class="plus">+</span>
                                </div>
                            </div>
                            <div class="portfolio-item-bg-black">
                                <div class="item-info">
                                    <div class="headline">
                                        <h4>MAXART DESIGN</h4>
                                        <hr>
                                    </div>
                                    <p>Amazing Design by Multipurpose</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-col-md-3 col-sm-3 col-xs-12 filter building">
                <div class="portfolio_6">
                    <a href="{{ asset('build/"images/gallery-thumb/cons3.jpeg') }}" class="item-box" rel="prettyPhoto[gallery1]"><!-- full image -->
                        <img src="{{ asset('build/images/gallery-thumb/cons3.jpeg') }}" class="img-responsive" alt=""><!-- thumb image -->

                        <div class="portfolio-bg"><!-- caption here -->
                            <div class="portfolio-item">
                                <div class="item-info">
                                    <span class="plus">+</span>
                                </div>
                            </div>
                            <div class="portfolio-item-bg-black">
                                <div class="item-info">
                                    <div class="headline">
                                        <h4>MAXART DESIGN</h4>
                                        <hr>
                                    </div>
                                    <p>Amazing Design by Multipurpose</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-col-md-3 col-sm-3 col-xs-12 filter building">
                <div class="portfolio_6">
                    <a href="{{ asset('build/images/gallery-thumb/cons4.jpeg') }}" class="item-box" rel="prettyPhoto[gallery1]"><!-- full image -->
                        <img src="{{ asset('build/images/gallery-thumb/cons4.jpeg') }}" class="img-responsive" alt=""><!-- thumb image -->

                        <div class="portfolio-bg"><!-- caption here -->
                            <div class="portfolio-item">
                                <div class="item-info">
                                    <span class="plus">+</span>
                                </div>
                            </div>
                            <div class="portfolio-item-bg-black">
                                <div class="item-info">
                                    <div class="headline">
                                        <h4>MAXART DESIGN</h4>
                                        <hr>
                                    </div>
                                    <p>Amazing Design by Multipurpose</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-col-md-3 col-sm-3 col-xs-12 filter building">
                <div class="portfolio_6">
                    <a href="{{ asset('build/images/gallery-thumb/cons5.jpeg') }}" class="item-box" rel="prettyPhoto[gallery1]"><!-- full image -->
                        <img src="{{ asset('build/images/gallery-thumb/cons5.jpeg') }}" class="img-responsive" alt=""><!-- thumb image -->

                        <div class="portfolio-bg"><!-- caption here -->
                            <div class="portfolio-item">
                                <div class="item-info">
                                    <span class="plus">+</span>
                                </div>
                            </div>
                            <div class="portfolio-item-bg-black">
                                <div class="item-info">
                                    <div class="headline">
                                        <h4>MAXART DESIGN</h4>
                                        <hr>
                                    </div>
                                    <p>Amazing Design by Multipurpose</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-col-md-3 col-sm-3 col-xs-12 filter painting">
                <div class="portfolio_6">
                    <a href="{{ asset('build/images/gallery-thumb/deco1.jpeg') }}" class="item-box" rel="prettyPhoto[gallery1]"><!-- full image -->
                        <img src="{{ asset('build/images/gallery-thumb/deco1.jpeg') }}" class="img-responsive" alt=""><!-- thumb image -->

                        <div class="portfolio-bg"><!-- caption here -->
                            <div class="portfolio-item">
                                <div class="item-info">
                                    <span class="plus">+</span>
                                </div>
                            </div>
                            <div class="portfolio-item-bg-black">
                                <div class="item-info">
                                    <div class="headline">
                                        <h4>MAXART DESIGN</h4>
                                        <hr>
                                    </div>
                                    <p>Amazing Design by Multipurpose</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-lg-2 col-col-md-3 col-sm-3 col-xs-12 filter painting">
                <div class="portfolio_6">
                    <a href="{{ asset('build/images/gallery-thumb/deco2.jpeg') }}" class="item-box" rel="prettyPhoto[gallery1]"><!-- full image -->
                        <img src="{{ asset('build/images/gallery-thumb/deco2.jpeg') }}" class="img-responsive" alt=""><!-- thumb image -->

                        <div class="portfolio-bg"><!-- caption here -->
                            <div class="portfolio-item">
                                <div class="item-info">
                                    <span class="plus">+</span>
                                </div>
                            </div>
                            <div class="portfolio-item-bg-black">
                                <div class="item-info">
                                    <div class="headline">
                                        <h4>MAXART DESIGN</h4>
                                        <hr>
                                    </div>
                                    <p>Amazing Design by Multipurpose</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
              <div class="col-lg-2 col-col-md-3 col-sm-3 col-xs-12 filter painting">
                <div class="portfolio_6">
                    <a href="{{ asset('build/images/gallery-thumb/deco3.jpeg') }}" class="item-box" rel="prettyPhoto[gallery1]"><!-- full image -->
                        <img src="{{ asset('build/images/gallery-thumb/deco3.jpeg') }}" class="img-responsive" alt=""><!-- thumb image -->

                        <div class="portfolio-bg"><!-- caption here -->
                            <div class="portfolio-item">
                                <div class="item-info">
                                    <span class="plus">+</span>
                                </div>
                            </div>
                            <div class="portfolio-item-bg-black">
                                <div class="item-info">
                                    <div class="headline">
                                        <h4>MAXART DESIGN</h4>
                                        <hr>
                                    </div>
                                    <p>Amazing Design by Multipurpose</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-col-md-3 col-sm-3 col-xs-12 filter painting">
                <div class="portfolio_6">
                    <a href="{{ asset('build/images/gallery-thumb/deco4.jpeg') }}" class="item-box" rel="prettyPhoto[gallery1]"><!-- full image -->
                        <img src="{{ asset('build/images/gallery-thumb/deco4.jpeg') }}" class="img-responsive" alt=""><!-- thumb image -->

                        <div class="portfolio-bg"><!-- caption here -->
                            <div class="portfolio-item">
                                <div class="item-info">
                                    <span class="plus">+</span>
                                </div>
                            </div>
                            <div class="portfolio-item-bg-black">
                                <div class="item-info">
                                    <div class="headline">
                                        <h4>MAXART DESIGN</h4>
                                        <hr>
                                    </div>
                                    <p>Amazing Design by Multipurpose</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-col-md-3 col-sm-3 col-xs-12 filter painting">
                <div class="portfolio_6">
                    <a href="{{ asset('build/images/gallery-thumb/deco5.jpeg') }}" class="item-box" rel="prettyPhoto[gallery1]"><!-- full image -->
                        <img src="{{ asset('build/images/gallery-thumb/deco5.jpeg') }}" class="img-responsive" alt=""><!-- thumb image -->

                        <div class="portfolio-bg"><!-- caption here -->
                            <div class="portfolio-item">
                                <div class="item-info">
                                    <span class="plus">+</span>
                                </div>
                            </div>
                            <div class="portfolio-item-bg-black">
                                <div class="item-info">
                                    <div class="headline">
                                        <h4>MAXART DESIGN</h4>
                                        <hr>
                                    </div>
                                    <p>Amazing Design by Multipurpose</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

        </div>
    </div>
</section>
