<!--our projects-->

<section id="portfolio" class="portfolioSix dart-pb-0">
    <div class="container">
        <div class="row">
            <div class="heading text-center">
                <h1>PORTFOLIO</h1>
                <hr>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna.</p>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                <div class="button-group filters-button-group clearfix">
                    <button class="button active filter-button" data-filter="all">Voir tout</button>
                    <button class="button filter-button" data-filter="creative">Construction</button>
                    <button class="button filter-button" data-filter="painting">Vente de matériaux</button>
                    <button class="button filter-button" data-filter="building">Transport</button>
                </div>
            </div>
        </div>
        <div class="row no-gutter">
            <div class="col-lg-2 col-col-md-3 col-sm-3 col-xs-12 filter creative">
                <div class="portfolio_6">
                    <a href="{{ asset('build/images/gallery-thumb/full-pic/pic-12-full.jp') }}g" class="item-box" rel="prettyPhoto[gallery1]"><!-- full image -->
                        <img src="{{ asset('build/images/gallery-thumb/pic-12.jpg') }}" class="img-responsive" alt=""><!-- thumb image -->

                        <div class="portfolio-bg"><!-- caption here -->
                            <div class="portfolio-item">
                                <div class="item-info">
                                    <span class="plus">+</span>
                                </div>
                            </div>
                            <div class="portfolio-item-bg-black">
                                <div class="item-info">
                                    <div class="headline">
                                        <h4>MAXART DESIGN</h4>
                                        <hr>
                                    </div>
                                    <p>Amazing Design by Multipurpose</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-col-md-3 col-sm-3 col-xs-12 filter painting">
                <div class="portfolio_6">
                    <a href="{{ asset('build/images/gallery-thumb/full-pic/pic-11-full.jpg') }}" class="item-box" rel="prettyPhoto[gallery1]"><!-- full image -->
                        <img src="{{ asset('build/images/gallery-thumb/pic-11.jpg') }}" class="img-responsive" alt=""><!-- thumb image -->

                        <div class="portfolio-bg"><!-- caption here -->
                            <div class="portfolio-item">
                                <div class="item-info">
                                    <span class="plus">+</span>
                                </div>
                            </div>
                            <div class="portfolio-item-bg-black">
                                <div class="item-info">
                                    <div class="headline">
                                        <h4>MAXART DESIGN</h4>
                                        <hr>
                                    </div>
                                    <p>Amazing Design by Multipurpose</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-col-md-3 col-sm-3 col-xs-12 filter creative">
                <div class="portfolio_6">
                    <a href="{{ asset('build/images/gallery-thumb/full-pic/pic-10-full.jpg') }}" class="item-box" rel="prettyPhoto[gallery1]"><!-- full image -->
                        <img src="{{ asset('build/images/gallery-thumb/pic-10.jpg') }}" class="img-responsive" alt=""><!-- thumb image -->

                        <div class="portfolio-bg"><!-- caption here -->
                            <div class="portfolio-item">
                                <div class="item-info">
                                    <span class="plus">+</span>
                                </div>
                            </div>
                            <div class="portfolio-item-bg-black">
                                <div class="item-info">
                                    <div class="headline">
                                        <h4>MAXART DESIGN</h4>
                                        <hr>
                                    </div>
                                    <p>Amazing Design by Multipurpose</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-col-md-3 col-sm-3 col-xs-12 filter creative">
                <div class="portfolio_6">
                    <a href="{{ asset('build/images/gallery-thumb/full-pic/pic-9-full.jpg') }}" class="item-box" rel="prettyPhoto[gallery1]"><!-- full image -->
                        <img src="{{ asset('build/images/gallery-thumb/pic-9.jpg') }}" class="img-responsive" alt=""><!-- thumb image -->

                        <div class="portfolio-bg"><!-- caption here -->
                            <div class="portfolio-item">
                                <div class="item-info">
                                    <span class="plus">+</span>
                                </div>
                            </div>
                            <div class="portfolio-item-bg-black">
                                <div class="item-info">
                                    <div class="headline">
                                        <h4>MAXART DESIGN</h4>
                                        <hr>
                                    </div>
                                    <p>Amazing Design by Multipurpose</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-col-md-3 col-sm-3 col-xs-12 filter painting">
                <div class="portfolio_6">
                    <a href="{{ asset('build/images/gallery-thumb/full-pic/pic-8-full.jpg') }}" class="item-box" rel="prettyPhoto[gallery1]"><!-- full image -->
                        <img src="{{ asset('build/images/gallery-thumb/pic-8.jpg') }}" class="img-responsive" alt=""><!-- thumb image -->

                        <div class="portfolio-bg"><!-- caption here -->
                            <div class="portfolio-item">
                                <div class="item-info">
                                    <span class="plus">+</span>
                                </div>
                            </div>
                            <div class="portfolio-item-bg-black">
                                <div class="item-info">
                                    <div class="headline">
                                        <h4>MAXART DESIGN</h4>
                                        <hr>
                                    </div>
                                    <p>Amazing Design by Multipurpose</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-col-md-3 col-sm-3 col-xs-12 filter building">
                <div class="portfolio_6">
                    <a href="{{ asset('build/images/gallery-thumb/full-pic/pic-7-full.jpg') }}" class="item-box" rel="prettyPhoto[gallery1]"><!-- full image -->
                        <img src="{{ asset('build/images/gallery-thumb/pic-7.jpg') }}" class="img-responsive" alt=""><!-- thumb image -->

                        <div class="portfolio-bg"><!-- caption here -->
                            <div class="portfolio-item">
                                <div class="item-info">
                                    <span class="plus">+</span>
                                </div>
                            </div>
                            <div class="portfolio-item-bg-black">
                                <div class="item-info">
                                    <div class="headline">
                                        <h4>MAXART DESIGN</h4>
                                        <hr>
                                    </div>
                                    <p>Amazing Design by Multipurpose</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-col-md-3 col-sm-3 col-xs-12 filter architect">
                <div class="portfolio_6">
                    <a href="{{ asset('build/images/gallery-thumb/full-pic/pic-6-full.jpg') }}" class="item-box" rel="prettyPhoto[gallery1]"><!-- full image -->
                        <img src="{{ asset('build/images/gallery-thumb/pic-6.jpg') }}" class="img-responsive" alt=""><!-- thumb image -->

                        <div class="portfolio-bg"><!-- caption here -->
                            <div class="portfolio-item">
                                <div class="item-info">
                                    <span class="plus">+</span>
                                </div>
                            </div>
                            <div class="portfolio-item-bg-black">
                                <div class="item-info">
                                    <div class="headline">
                                        <h4>MAXART DESIGN</h4>
                                        <hr>
                                    </div>
                                    <p>Amazing Design by Multipurpose</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-col-md-3 col-sm-3 col-xs-12 filter museums">
                <div class="portfolio_6">
                    <a href="{{ asset('build/images/gallery-thumb/full-pic/pic-5-full.jpg') }}" class="item-box" rel="prettyPhoto[gallery1]"><!-- full image -->
                        <img src="{{ asset('build/images/gallery-thumb/pic-5.jpg') }}" class="img-responsive" alt=""><!-- thumb image -->

                        <div class="portfolio-bg"><!-- caption here -->
                            <div class="portfolio-item">
                                <div class="item-info">
                                    <span class="plus">+</span>
                                </div>
                            </div>
                            <div class="portfolio-item-bg-black">
                                <div class="item-info">
                                    <div class="headline">
                                        <h4>MAXART DESIGN</h4>
                                        <hr>
                                    </div>
                                    <p>Amazing Design by Multipurpose</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-col-md-3 col-sm-3 col-xs-12 filter building">
                <div class="portfolio_6">
                    <a href={{ asset('build/"images/gallery-thumb/full-pic/pic-4-full.jpg') }}" class="item-box" rel="prettyPhoto[gallery1]"><!-- full image -->
                    <img src="{{ asset('build/images/gallery-thumb/pic-4.jpg') }}" class="img-responsive" alt=""><!-- thumb image -->

                    <div class="portfolio-bg"><!-- caption here -->
                        <div class="portfolio-item">
                            <div class="item-info">
                                <span class="plus">+</span>
                            </div>
                        </div>
                        <div class="portfolio-item-bg-black">
                            <div class="item-info">
                                <div class="headline">
                                    <h4>MAXART DESIGN</h4>
                                    <hr>
                                </div>
                                <p>Amazing Design by Multipurpose</p>
                            </div>
                        </div>
                    </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-col-md-3 col-sm-3 col-xs-12 filter architect">
                <div class="portfolio_6">
                    <a href="{{ asset('build/images/gallery-thumb/full-pic/pic-3-full.jpg') }}" class="item-box" rel="prettyPhoto[gallery1]"><!-- full image -->
                        <img src="{{ asset('build/images/gallery-thumb/pic-3.jpg') }}" class="img-responsive" alt=""><!-- thumb image -->

                        <div class="portfolio-bg"><!-- caption here -->
                            <div class="portfolio-item">
                                <div class="item-info">
                                    <span class="plus">+</span>
                                </div>
                            </div>
                            <div class="portfolio-item-bg-black">
                                <div class="item-info">
                                    <div class="headline">
                                        <h4>MAXART DESIGN</h4>
                                        <hr>
                                    </div>
                                    <p>Amazing Design by Multipurpose</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-col-md-3 col-sm-3 col-xs-12 filter museums">
                <div class="portfolio_6">
                    <a href="{{ asset('build/images/gallery-thumb/full-pic/pic-2-full.jpg') }}" class="item-box" rel="prettyPhoto[gallery1]"><!-- full image -->
                        <img src="{{ asset('build/images/gallery-thumb/pic-2.jpg') }}" class="img-responsive" alt=""><!-- thumb image -->

                        <div class="portfolio-bg"><!-- caption here -->
                            <div class="portfolio-item">
                                <div class="item-info">
                                    <span class="plus">+</span>
                                </div>
                            </div>
                            <div class="portfolio-item-bg-black">
                                <div class="item-info">
                                    <div class="headline">
                                        <h4>MAXART DESIGN</h4>
                                        <hr>
                                    </div>
                                    <p>Amazing Design by Multipurpose</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-col-md-3 col-sm-3 col-xs-12 filter painting">
                <div class="portfolio_6">
                    <a href="{{ asset('build/images/gallery-thumb/full-pic/pic-1-full.jpg') }}" class="item-box" rel="prettyPhoto[gallery1]"><!-- full image -->
                        <img src="{{ asset('build/images/gallery-thumb/pic-1.jpg') }}" class="img-responsive" alt=""><!-- thumb image -->

                        <div class="portfolio-bg"><!-- caption here -->
                            <div class="portfolio-item">
                                <div class="item-info">
                                    <span class="plus">+</span>
                                </div>
                            </div>
                            <div class="portfolio-item-bg-black">
                                <div class="item-info">
                                    <div class="headline">
                                        <h4>MAXART DESIGN</h4>
                                        <hr>
                                    </div>
                                    <p>Amazing Design by Multipurpose</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

        </div>
    </div>
</section>
